# This is Git's per-user configuration file.
[user]
	name = Emmet Murray
	email = ehmurray8@gmail.com
[push]
	default = simple
[credential]
	helper = cache --timeout=7200
[core]
	editor = vim
[alias]
    st = status -s
    lg = log --oneline --decorate --graph
    a = add .
    cm = commit -m
    ph = push
    pl = pull
    rma = rm -r --cached .
    cl = clone
    clear = reset --hard HEAD
    ch = checkout HEAD
    cb = checkout -b
    br = branch
    dh = diff HEAD
    d = diff
    ca = commit --amend
    co = checkout
    cl = clone
    rb = rebase
    rbc = rebase --continue
    rba = rebase --abort
    set-email = config user.email
[format]
	pretty = medium
[help]
	autoCorrect = -1
[merge]
	stat = true
	tool = vimdiff
	conflictstyle = diff3
